body{
    margin: 0;
    display: flex;
    height: 100vh;
    width: 100v;
    align-content: center;
    background-color: #22212C;
}

h1, h2, h3, p, li{
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

p, li{
    font-size: 12px;
}


#page{
    background-color: #22212C;
    width: 100%;
    height: max-content;
    display: flex;
    margin-bottom: 20px;
    margin: 30px;
}

#menu-itens{
    width: 30%;
    display: block;
    max-width: 300px;

}
#contents{
    width: 70%;
    height: 100%;
    margin-left: 20px;

}

#img{
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border: solid;
    border-color: #00FF00;
}

.defatul-card{
    background-color: #302F3D;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;
}

.card1{
    text-align: center;
    
}
.card2{
    text-align: left;
}

.card3 h2{
    margin-left: 15px;
}

.card3 p{
    margin-left: 20px;
    background-color: #CB92B1;
    color: #000 ;
    border-radius: 20px;
    padding: 5px;
    width: 25%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
}

.card4{
    font-size: 14px;
}
.card4 h2{
    margin-left: 15px;
}

#socials li{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
     
}

#my-projects{
    margin: 0;
    display: flex;
    position: relative;
    max-height: 86px;
    padding-left: 30px;
    padding-right: 30px;
}

#my-projects p{
    position: absolute;
    right: 30px;
}

#repos{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    max-height: 186px;

}

.respos-card{
	flex: 1 1 auto;
    margin-left: 10px;
    margin-right: 10px;
}

.content-card{
    margin-right: 10px;
    margin-left: 10px;
    
}

.folder{
    display: flex;
    flex-direction: row;
}

.infos{
    display: flex;
    flex-direction: row;
}
.infos div{
	flex: 1;
}
