body{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    height: 100vh;
    width: 100v;
    background-color: #22212C;
}

h1, h2, h3, p, li{
    font-family: 'Merriweather Sans', sans-serif;
    color: #837E9F;
}

p, li{
    font-size: 12px;
}


#page{
    background-color: #22212C;
    width: 100%;
    height: max-content;
    display: flex;
    margin-bottom: 20px;
    margin: 30px;

}

#menu-itens{
    width: 30%;
    display: block;
    max-width: 300px;

}
#contents{
    width: 70%;
    height: 100%;
    margin-left: 20px;
    max-width: 70%;
}

#img{
    width: 128px;
    height: 128px;
    border-radius: 100px;
    border: solid;
    border-color: #00FF00;
}

.defatul-card{
    background-color: #302F3D;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 20px;

}

.card1{
    text-align: center;
    
}
.card2{
    text-align: left;
}

.social_item{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.social_item img{
    margin-right: 5px;
    margin-bottom: 5px;
    
}
.social_item text{
   text-align: center;
   margin: 0;
}
.link{
    text-decoration: none;
    color: #837E9F;
    transition: 1s;
}

.link:hover{
    color: #00FF00;
    transition: 1s;
}

.card3 h2{
    margin-left: 15px;
}

.card3 p{
    margin-left: 20px;
    background-color: #CB92B1;
    color: #000 ;
    border-radius: 20px;
    padding: 5px;
    width: 25%;
    display: inline-block;
    margin-left: 5px;
    margin-bottom: 5px;
    margin-top: 0;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    text-transform: uppercase;
}

.card4{
    font-size: 14px;
}
.card4 h2{
    margin-left: 15px;
}

#socials li{
    list-style-type: none;
    display: flex;
    align-items: center;
    
}   

#my-projects{
    margin: 0;
    display: flex;
    position: relative;
    max-height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

#my-projects p{
    position: absolute;
    right: 30px;
}
#my-projects h3,p{
    margin: 0;
}
#my-projects p:hover{
    color: #00FF00;
    transition: 1s ease-in;
    cursor: pointer;
}

#repos{
    margin-top: 20px;
    max-width: 100%;
    min-height: 100%;
}

.respos-card{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    max-width: 50%;
    min-width: 45%;

}

.content-card{
    margin-right: 10px;
    margin-left: 10px;
    
}

.folder{
    display: flex;
    flex-direction: row;
}

.infos{
    display: flex;
    width: 100%;
}

.infos p{
   margin: 0;
   padding: 5px;
   display:flexbox;
   flex: auto;
}
#repos a{
    background-image: url("https://cdn-icons-png.flaticon.com/512/8532/8532423.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    margin-top: 0;
    min-width: 100%;
    text-decoration: none;
    color:#302F3D;
    display: flex;
}
#repos h3{
    margin-top: 0;
}

